html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Inter-Regular"),url(/static/fonts/Inter-Regular.woff2) format("woff2"),url(/static/media/Inter-Regular.41cd7069.woff) format("woff")
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Inter-Bold"),url(/static/fonts/Inter-Bold.woff2) format("woff2"),url(/static/media/Inter-Bold.895ddea9.woff) format("woff")
}

